.container {
  padding: 0 2rem;
  max-width: 1100;
}
.halfC {
  max-width: 700px;
  padding: 40px 20px;
}
.spacer {
  height: 2vw;
}
.center {
  display: flex;
  place-items: center;
  flex-direction: column;
}
.btn {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 8px 22px;
  background-color: tan;
  border-radius: 7px;
  margin: 10px 0;
  color: currentColor;
}
.btnRefresh {
  display: flex;
  max-width: 140px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  padding: 8px 22px;
  background-color: #22b8cf;
  border-radius: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: currentColor;
}
.errorMessage {
  color: #d9480f;
  opacity: 0;
}
.visible {
  opacity: 100%;
}

.searchLabel {
  font-size: 32px;
  margin-bottom: 10px;
}

.disable {
  background-color: grey !important;
  color: lightgray !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.tag {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #22b8cf;
}
.sMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 32px;
  height: 32px;
  color: #fff;
  /* background-color:; */
  margin-top: 10px;
}
.verify {
  color: #8ce99a;
}
.hide {
  display: none;
}
.mapCards {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  padding: 50px 40px;

  gap: 2vw;
}
.card {
  position: relative;
  background-color: red;
  border-radius: 3px;
  overflow: hidden;
}
.mapImage {
  width: 100%;
}
.mapName {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: 0;
  color: #111;
  text-align: center;
  width: 100%;
  background-color: tan;
  padding: 10px 0;
  text-transform: capitalize;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .mapCards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
