.container {
  padding: 0 2rem;
  max-width: 1100;
}
.halfC {
  max-width: 700px;
  padding: 40px 20px;
}
.spacer {
  height: 10vw;
}
.center {
  display: flex;
  place-items: center;
  flex-direction: column;
}
.btn {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 8px 22px;
  background-color: tan;
  border-radius: 7px;
  margin: 32px 0;
  color: currentColor;
}
.errorMessage {
  color: #d9480f;
  opacity: 0;
}
.visible {
  opacity: 100%;
}

.disable {
  background-color: grey !important;
  color: lightgray !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.tag {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #22b8cf;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
